@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

body, html {
    height: 100%;
    margin: 0;
}

.home {
    background-color: bisque;
    height: 100%;
    width: 100vw;
    display: grid;
    justify-items: center;
    align-items: center;
    overflow: auto;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-out;
  }