.signUpBox {
    padding: 16px;
    background-color: aquamarine;
    height: 330px;
    width: 270.8px;
    border: 2px solid;
    border-color: rgb(68, 62, 62);
    border-radius: 20px;
}

@media screen and (min-height: 700px) {}

.signUpForm {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.flow-buttons {
    width: auto;
}

.btnDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.formValue {
    outline: none;
    padding: 0 4px;
    border-radius: 5px;
    border: 1.5px solid cadetblue;
}

.radioInput {
    display: flex;
    flex-direction: row;
}

.textInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.femaleRadioBtn {
    margin-left: 3px;
}

input[type="radio"]:checked {
    accent-color: grey;

}

.flow-buttons.right-arrow {
    margin-left: auto;
}

.flow-buttons.step-one.left-arrow {
    display: none;
}
